@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.app {
	background-color: #20232a !important;
	font-family: 'Catamaran', sans-serif;
	color: rgb(230,230,230);
}
.brand-logo, .brand-name {
	display: inline-block;
	vertical-align: middle;
}
.brand-logo {
	width: 35px;
}
.brand-name {
	font-size: 35px;
	padding-left: 11px;
	color: rgb(230,230,230);
}
.white {
	color: rgb(230,230,230);
}

.modal-header, .modal-body {
	background-color: #20232a !important;
	color: white;
	border-radius: 0px;
}