@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.app {
	background-color: rgb(51,51,51) !important;
	font-family: 'Sofia', sans-serif;
	color: #fff;
}
.brand-logo, .brand-name {
	display: inline-block;
	vertical-align: middle;
}
.brand-logo {
	width: 35px;
}
.brand-name {
	font-size: 35px;
	padding-left: 13px;

}
.white {
	color: #fff;
}